{% extends "base.html" %}

  {% block title %}
  <title>Казань</title>
  {% endblock %}

  {% block cards %}
    {% for key, value in tours.items() %}
          {% if tours[key]["departure"] == "kazan" %}
        <div class="col-4">
          <div class="card mb-4">
            <div class="embed-responsive embed-responsive-16by9">
               <img class="card-img-top embed-responsive-item" src="https://place-hold.it/300x200" alt="" />
            </div>
            <div class="card-body">
              <h2 class="h5 card-title">{{tours[key].title}}</h2>
              <p class="card-text">{{tours[key].description|truncate(200)}}</p>
              <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
          </div>
        </div>
          {% endif %}
        {% endfor %}
  {% endblock %}